# Librerías principales del bot
python-telegram-bot==20.3

# Procesamiento de datos y machine learning
pandas
scikit-learn
textblob
nltk
numpy

# Audio y voz
SpeechRecognition
pydub
torch
transformers
git+https://github.com/openai/whisper.git

# Análisis de imágenes y rostro
opencv-python
deepface
